In [5]:
def vol(rad):
    pi=3.14
    return (4/3)*pi*(rad**3)

In [6]:
vol(2)

33.49333333333333

In [7]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range {low} and {high}')
    else:
              print (f'{num} is not in the range {low} and {high}')

In [8]:
ran_check(5,2,7)

5 is in the range 2 and 7

In [9]:
ran_check(10,2,10)

10 is in the range 2 and 10

In [10]:
ran_check(100,0,99)

100 is not in the range 0 and 99

In [11]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [15]:
ran_bool(3,3,3)

True

In [18]:
def up_low(s):
    up=0
    low=0
    for letter in s:
        if letter.isupper() == True:
            up+=1
        elif letter.islower() == True:
            low+=1
    print(f'Number of uppercase characters: {up}')
    print(f'Number of lowercase characters: {low}')

In [19]:
up_low("Hello Mr. Rogers, how are you this fine Tuesday?")

Number of uppercase characters: 4
Number of lowercase characters: 33

In [22]:
def unique_list(lst):
    return list(set(lst))

In [23]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [26]:
def multiply(numbers):
    mul=1
    for x in numbers:
        mul= mul*x
    return mul

In [27]:
multiply([1,2,3,-4])

-24

In [35]:
def palindrome(s):
    s=s.replace(' ','')
    return s[0:]==s[::-1]

In [36]:
palindrome('nurses run')

True

In [51]:
import string 

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    xset = set(alphabet) # set of alphabets
    return xset <= set(str1.lower())   # comparing the set of

In [53]:
ispangram("The quick brown fox jump over the lazy dog")

False